{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        },
        "cacheDirectory": true
      }
    ]
  ],
  "plugins": ["transform-object-rest-spread"]
}
